<% @posts.each do |post| %>
  
  <div class="post_box">
      <% if user_signed_in? %>
      <div class="row">
     <div class="col-xs-6"> <%= link_to 'Edit Post', edit_post_path(post.id) %></div>
      <div class="col-xs-6"><%= link_to 'Delete Post', post_path(post.id), method: :delete %></div>
      </div>

      
      <% end %>
    <div class="post_header ">
      <%= image_tag post.user.photo, class: 'prof_pic_small' %>
      <%= link_to post.user.name, user_path(post.user_id) %>
    </div>

    <%= image_tag post.photo, class: 'photo' %>
    
    <div class="post_body">

      <%= link_to post.user.name, user_path(post.user_id) %> <%= post.description %>

    </div>

    <div class="post_comments">

      <% post.comments.each do |comment| %>

      <h3>  <%= link_to comment.user.name,  user_path(comment.user_id) %> <%= comment.text %> </h3>

      <% end %>


      



<span id="likes_container_<%= post.id %>">
  <%= render partial: 'likes', locals: {post: post} %>
</span>
      
<% if user_signed_in? %>
  <%= simple_form_for Comment.new, url: post_comments_path(post), method: :post,  html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :text, label: 'Comment', placeholder: 'Add a comment...' %>
    <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
  <% end %>
<% end %>
    </div>
  </div>

<% end %>










